In [4]:
from netCDF4 import Dataset
import pandas as pd

In [106]:
ncfile = Dataset("rtg_sst_2017_03_13.nc")
pc     = pd.read_csv('/mnt/j/Gdrive/Tesis-Maestria/SALIDAS/csv/puntos_costa.csv')
pc1    = pc

In [63]:
lon = pd.DataFrame({'lon':ncfile.variables['lon'][:]})
lon = lon-360
lat = pd.DataFrame({'lat':ncfile.variables['lat'][:]})

In [102]:
for index, row in pc1.iterrows():
    #lat_i = row['Y']
    #lon_i = row['X']
    id_lat = lat.iloc[(lat['lat']-row['Y']).abs().argsort()[:1]].index
    id_lon = lon.iloc[(lon['lon']-row['X']).abs().argsort()[:1]].index
    tsm    = ncfile.variables['t'][0,id_lat,id_lon].item()-273.15
    pc1.loc[index,'cost']=tsm
    print(tsm)
    #print(str(row['Y'])+' == '+str(lat.loc[id_lat]['lat'].item()))
    #print(id_lon)

22.659997558593773
-12.096500429 == -12.132000000000005
23.369989013671898
-11.839050724000002 == -11.800000000000011
24.070001220703148
-11.533560166 == -11.551000000000002
24.529992675781273
-11.224374158 == -11.219000000000008
25.890008544921898
-10.875770013 == -10.887
25.969995117187523
-10.737806535999999 == -10.721000000000004
25.409997558593773
-10.527165869 == -10.555000000000007
24.709985351562523
-10.120666336000001 == -10.14
24.559991455078148
-9.912489302300001 == -9.891000000000005
24.369989013671898
-9.5035261359 == -9.476000000000013
24.309991455078148
-9.2744082174 == -9.310000000000002
24.300012207031273
-9.0773175349 == -9.061000000000007
24.279992675781273
-8.8691405014 == -8.89500000000001
24.320001220703148
-8.6227771482 == -8.646
24.360009765625023
-8.4293819159 == -8.397000000000006
24.490014648437523
-8.1041822896 == -8.065000000000012
24.610009765625023
-7.7531145113 == -7.733000000000004
24.679986572265648
-7.334296810800001 == -7.318000000000012
24.679986572265648
-7.1766242647 == -7.152000000000001
24.679986572265648
-7.0152562684 == -6.986000000000004
24.629998779296898
-6.9043927594 == -6.903000000000006
24.689996337890648
-6.608756735599999 == -6.571000000000012
24.670007324218773
-6.4597069069 == -6.4879999999999995
24.809991455078148
-6.1491550566 == -6.156000000000006
25.559991455078148
-5.453303181 == -5.492000000000004
26.170007324218773
-4.7795149014 == -4.7450000000000045
26.309991455078148
-4.4909909529 == -4.496000000000009
26.490014648437523
-4.154945413 == -4.1640000000000015
26.510003662109398
-4.0514162315 == -4.081000000000003
26.649987792968773
-3.7510118851999996 == -3.7490000000000094
26.700006103515648
-3.5914751137 == -3.5830000000000126
26.700006103515648
-3.4115719458 == -3.4170000000000016

In [107]:
#pc1.loc[0,'joe']=12.5
pc1

    id   cod_cu          X          Y
0    1   137554 -77.074948 -12.096500
1    2   137556 -77.182116 -11.839051
2    3   137558 -77.295443 -11.533560
3    4    13756 -77.637889 -11.224374
4    5   137572 -77.704407 -10.875770
5    6    13758 -77.791866 -10.737807
6    7   137592 -77.922438 -10.527166
7    8   137594 -78.173729 -10.120666
8    9  1375952 -78.227929  -9.912489
9   10   137596 -78.392992  -9.503526
10  11   137598 -78.524797  -9.274408
11  12  1375992 -78.624574  -9.077318
12  13     1376 -78.688628  -8.869141
13  14   137712 -78.751451  -8.622777
14  15   137714 -78.932528  -8.429382
15  16   137716 -79.101287  -8.104182
16  17    13772 -79.426486  -7.753115
17  18    13774 -79.589086  -7.334297
18  19   137752 -79.687632  -7.176624
19  20   137754 -79.787409  -7.015256
20  21    13776 -79.898272  -6.904393
21  22   137772 -80.171736  -6.608757
22  23   137774 -80.455053  -6.459707
23  24    13778 -80.980634  -6.149155
24  25     1378 -80.939902  -5.453303
25  26      138 -81.247095  -4.779515
26  27     1392 -81.301405  -4.490991
27  28    13932 -81.121502  -4.154945
28  29    13934 -81.028156  -4.051416
29  30    13936 -80.787154  -3.751012
30  31     1394 -80.552940  -3.591475
31  32    13952 -80.301755  -3.411572

In [101]:
ncfile.variables['lat']

<class 'netCDF4._netCDF4.Variable'>
float64 lat(lat)
    standard_name: latitude
    long_name: latitude
    units: degrees_north
    axis: Y
unlimited dimensions:
current shape = (2160,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [80]:
lat.loc[3].item()

89.709